// global
$bodyGrey: #f7f7f7;
$textGrey: #484848;
$textLightGrey: #979797;
$black: #191919;

// primary
$red: #ed422e;
$magenta: #c92172;

// secondary
$orange: #fc9203;
$yellow: #f9eb36;
$green: #00db8f;
$blue: #22b3e6;

// shades
$shade100: #2e2f3a;
$shade80: #5e606e;
$shade60: #898a98;
$shade40: #cecfd9;
$shade20: #f9f9fc;
