@import './base/_normalize';
@import './base/_typography';
@import './base/_layout';

html {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  background: $black;
  line-height: 1;
  color: $textLightGrey;
}

@import './components/_nav';
