//- layout.pug
html
  head
    title My Site
    link(rel="stylesheet", href="assets/css/main.css")
  body
    include ../partials/nav.pug
    block content
  	script(src='/assets/js/script.js')
    block scripts

