$basePath: '../fonts';

@font-face {
  font-family: 'CeraPro-Black';
  src:  url('#{$basePath}/CeraPro-Black/CeraPro-Black.eot');
  src:  url('#{$basePath}/CeraPro-Black/CeraPro-Black.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-Black/CeraPro-Black.woff') format('woff'),
        url('#{$basePath}/CeraPro-Black/CeraPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-BlackItalic';
  src:  url('#{$basePath}/CeraPro-BlackItalic/CeraPro-BlackItalic.eot');
  src:  url('#{$basePath}/CeraPro-BlackItalic/CeraPro-BlackItalic.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-BlackItalic/CeraPro-BlackItalic.woff') format('woff'),
        url('#{$basePath}/CeraPro-BlackItalic/CeraPro-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-Bold';
  src:  url('#{$basePath}/CeraPro-Bold/CeraPro-Bold.eot');
  src:  url('#{$basePath}/CeraPro-Bold/CeraPro-Bold.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-Bold/CeraPro-Bold.woff') format('woff'),
        url('#{$basePath}/CeraPro-Bold/CeraPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-BoldItalic';
  src:  url('#{$basePath}/CeraPro-BoldItalic/CeraPro-BoldItalic.eot');
  src:  url('#{$basePath}/CeraPro-BoldItalic/CeraPro-BoldItalic.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-BoldItalic/CeraPro-BoldItalic.woff') format('woff'),
        url('#{$basePath}/CeraPro-BoldItalic/CeraPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-Light';
  src:  url('#{$basePath}/CeraPro-Light/CeraPro-Light.eot');
  src:  url('#{$basePath}/CeraPro-Light/CeraPro-Light.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-Light/CeraPro-Light.woff') format('woff'),
        url('#{$basePath}/CeraPro-Light/CeraPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-LightItalic';
  src:  url('#{$basePath}/CeraPro-LightItalic/CeraPro-LightItalic.eot');
  src:  url('#{$basePath}/CeraPro-LightItalic/CeraPro-LightItalic.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-LightItalic/CeraPro-LightItalic.woff') format('woff'),
        url('#{$basePath}/CeraPro-LightItalic/CeraPro-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-Regular';
  src:  url('#{$basePath}/CeraPro-Regular/CeraPro-Regular.eot');
  src:  url('#{$basePath}/CeraPro-Regular/CeraPro-Regular.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-Regular/CeraPro-Regular.woff') format('woff'),
        url('#{$basePath}/CeraPro-Regular/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CeraPro-RegularItalic';
  src:  url('#{$basePath}/CeraPro-RegularItalic/CeraPro-RegularItalic.eot');
  src:  url('#{$basePath}/CeraPro-RegularItalic/CeraPro-RegularItalic.woff2') format('woff2'),
        url('#{$basePath}/CeraPro-RegularItalic/CeraPro-RegularItalic.woff') format('woff'),
        url('#{$basePath}/CeraPro-RegularItalic/CeraPro-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src:  url('#{$basePath}/Lato-Regular/Lato-Regular.eot');
  src:  url('#{$basePath}/Lato-Regular/Lato-Regular.woff') format('woff'),
        url('#{$basePath}/Lato-Regular/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Italic';
  src:  url('#{$basePath}/Lato-Italic/Lato-Italic.eot');
  src:  url('#{$basePath}/Lato-Italic/Lato-Italic.woff') format('woff'),
        url('#{$basePath}/Lato-Italic/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src:  url('#{$basePath}/Lato-Light/Lato-Light.eot');
  src:  url('#{$basePath}/Lato-Light/Lato-Light.woff') format('woff'),
        url('#{$basePath}/Lato-Light/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-LightItalic';
  src:  url('#{$basePath}/Lato-LightItalic/Lato-LightItalic.eot');
  src:  url('#{$basePath}/Lato-LightItalic/Lato-LightItalic.woff') format('woff'),
        url('#{$basePath}/Lato-LightItalic/Lato-LightItalic.ttf') format('truetype');
}
