@import './_fonts';
@import '../variables/breakpoints';

$ceraBlack: 'CeraPro-Black';
$ceraBlackItalic: 'CeraPro-BlackItalic';
$ceraBold: 'CeraPro-Bold';
$ceraBoldItalic: 'CeraPro-BoldItalic';
$ceraLight: 'CeraPro-Light';
$ceraLightItalic: 'CeraPro-LightItalic';
$latoLight: 'Lato-Light';
$latoLightItalic: 'Lato-LightItalic';
$latoRegular: 'Lato-Regular';
$latoItalic: 'Lato-Italic';

h1,
.display-1,
.heading-1,
.heading-2,
.heading-3 {
  font-family: $ceraBold;
  font-weight: normal;
  em,
  i {
    font-family: $ceraBoldItalic;
  }
}

h2,
h3,
.display-2,
.display-3 {
  font-family: $ceraLight;
  font-weight: normal;
  em,
  i {
    font-family: $ceraLightItalic;
  }
}

h1, 
.display-1 {
  font-size: 38pt;
  @media (min-width: $tablets) {
    font-size: 48pt;
  }
  @media (min-width: $desktop) {
    font-size: 80pt;
  }
}

h2,
.display-2 {
  font-size: 30pt;
  @media (min-width: $tablets) {
    font-size: 36pt;
  }
  @media (min-width: $desktop) {
    font-size: 60pt;
  }
}

h3,
.display-3 {
  font-size: 24pt;
  @media (min-width: $tablets) {
    font-size: 28pt;
  }
  @media (min-width: $desktop) {
    font-size: 40pt;
  }
}

.heading-1 {
  font-size: 20pt;
  @media (min-width: $tablets) {
    font-size: 24pt;
  }
}

.heading-2 {
  font-size: 17pt;
  @media (min-width: $tablets) {
    font-size: 20pt;
  }
}

.heading-3 {
  font-size: 14pt;
  @media (min-width: $tablets) {
    font-size: 16pt;
  }
}

.title {
  font-family: $ceraBlack;
  font-size: 11pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (min-width: $desktop) {
    font-size: 10pt;
  }
  em,
  i {
    font-size: $ceraBlackItalic;
  }
}

.subhead {
  font-family: $latoLight;
  font-size: 16pt;
  em,
  i {
    font-size: $latoLightItalic;
  }
}

.body-1,
.body-2,
.body-3 {
  font-family: $latoRegular;
  font-weight: normal;
  em,
  i {
    font-family: $latoItalic;
  }
}

.body-1 {
  font-size: 18pt;
  @media (min-width: $tablets) {
    font-size: 20pt;
  }
}

.body-2 {
  font-size: 15pt;
}

.body-3 {
  font-size: 13pt;
  @media (min-width: $tablets) {
    font-size: 12pt;
  }
  @media (min-width: $desktop) {
    font-size: 13pt;
  }
}

a {
  font-family: $ceraBold;
  font-size: 14pt;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
